html, 
body {
    height: 100%;
}
.error{
  border: 1px solid red !important;
  border-radius: 4px !important;
}

.pad-40-custom{
	padding: 40px 40px 60px 40px;
}

.btn-primary-custom {
    color: #fff;
    background-color: #dae2e8;
    border-color: #2e6da4;
}

.active-button{
	width: 15px;
    height: 15px;
    background: green;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    right: 35px;
}
.active-button span{
	padding-left: 15px;
    color: white;
    position: absolute;
    margin-top: -4px;
}
.menu-item ul{
    list-style: none;
}
.menu-item ul li{
    float:left;
    padding-left: 20px;
}
.menu-item ul li a{
    color:#fff;
}
.menu-item-div{
    float: right;
    position: relative;
    top:31px;
}
@media (min-width: 0px) and (max-width: 483px){
    .menu-item-div{
        float:none;
        padding-left: 54px;
        position: relative;
        top:25px;
    }
}
@media (min-width: 483px) and (max-width: 529px){
    .menu-item-div{
        float:none;
        padding-left: 60px;
        position: relative;
        top:25px;
    }
}
@media (min-width: 530px) and (max-width: 585px){
    .menu-item-div{
        float:left;
        padding-left: 30px;
        position: relative;
        top:20px;
        margin-bottom: 10px;
    }
}
@media (min-width: 586px) and (max-width: 750px){
    .menu-item-div{
        float:left;
        padding-left: 60px;
        position: relative;
        top:10px;
    }
}
.menu-list{
    list-style: none;
}
.menu-list li{
    float:left;
    padding-left: 20px;
}

.menu-list li a{
    color:#fff;
}

.profile-table>tbody>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
	padding-left: 0px;
}

.profile-table-right>tbody>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
	padding-left: 0px;
}

.retest-table-col>.table>tbody>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
	padding-left: 0px;
	width: 25%;
}

.table>tbody>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
}

.top-header{
    background: #000000;
}

.social-col{
    /* margin-top: 56px; */
}
@media(max-width:768px){
    .social-col{
        margin-top: 0px;
    }
}

.goal-td-bg{
    background:lightgray;
}

/* player profile */
.profile-main{
    background: #fff;
    padding-top: 10px;
    margin-top: 50px;
    padding-bottom: 25px;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profile-header-row{
	padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-header-col img{
    min-width: 240px;
    height: 75px;
}

@media (min-width: 0px) and (max-width: 568px){
    .profile-header-col img{
        display: block;
        margin: 0 auto;
        min-width: 200px;
        height: 55px;
    }
}

@media (min-width: 568px) and (max-width: 768px){
    .profile-header-col{
        width: 30%;
    }
    .profile-header-col img{
        min-width: 200px;
        height: 55px;
    }
    .menu-right-col{
        width: 70%;
    }
}

.menu-right-section{
    float:right;
    position: relative;
    top: 25px;
}

@media (min-width: 0px) and (max-width: 568px){
    .menu-right-section{
        float:none;
        margin-bottom: 25px;
        margin-left: 20%;
    }
}

@media (min-width: 568px) and (max-width: 768px){
    .menu-right-section{
        top: 9px;
    }
}

.profile-username{
	padding-left: 10px;
	cursor: pointer;
}

.retest{
    background: #fff;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.benchmark{
    margin-top: 15px;
}
.benchmark-submission{
    font-size: 20px;
    font-family: Oswald;
}
/* player profile */

/* create benchmark */
.create-benchmark{
    width: 70%;
    background: #fff;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media(max-width:768px){
    .create-benchmark{
        width: 90%;
    }
}
.create-benchmark-container{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* create benchmark */

/* create retest */
.create-retest{
    width: 70%;
    background: #fff;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media(max-width:768px){
    .create-retest{
        width: 90%;
    }
}
.create-retest-container{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* create retest */


/* compare benchmark */
.dashboard-bemchmark-main{
    background: #fff;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* compare benchmark */

/* compare retest */
.compare-retest-main{
    background: #fff;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* compare retest */

.profile-total-notification{
	background: orange;
    border-radius: 50%;
    padding: 2px 3px;
    position: relative;
}

.hidden-menu{
	position: absolute;
    right: 5px;
	z-index:1;
    top: 66px;
    width: 137px;
    background-color: #485461;
    background-image: linear-gradient(
315deg, #485461 0%, #28313b 74%);
}

@media (min-width: 0px) and (max-width: 552px){
    .hidden-menu{
        right: 68px;
        top: 55px;
    }
}

@media (min-width: 553px) and (max-width: 750px){
    .hidden-menu{
        right: 0px;
        top: 61px;
    }
}

.page-show-item {
    font-size: 14px;
    font-weight: 700;
    color: #696969;
}

.custom-btn{
    background-color: #FB2056;
}

.custom-btn:hover {
    color: #fff;
    background-color: #FB2056;
    border-color: #204d74;
}

.custom-btn:focus {
    color: #fff;
    background-color: #FB2056;
    border-color: #204d74;
}

/* dashboard */
.dashboard-header{
    color:#000;
}
.dashboard-header>tbody>tr>th{
    color:#000 !important;
}
.dashboard-header>tbody>tr>td{
    color:#000 !important;
}
.dashboard-table{
    color:#000;
}
.dashboard-table>tbody>tr>td{
    color:#000 !important;
    border-top: 1px solid #ddd;
}
/* dashboard */

/* footer */
.common_footer{
    color: #fff;
    background: #191919;
    margin: 0 auto -142px;
    padding: 20px 0px;
}
.footer-left{
    width: 20%;
}
/* footer */

/* pagination */
.pagination-area {
    overflow: hidden;
}

.pagination-area .page-link {
    padding: 0 3px;
    margin-left: 5px;
}
/* pagination */

/* comapre test header */
.compare-header{
    background-color: #485461;
    background-image: linear-gradient(
315deg, #272b2f 0%, #4d565f 74%);
}
.compare-header-profile-main{
    background-color: #485461;
    background-image: linear-gradient(
315deg, #272b2f 0%, #4d565f 74%);
}
/* comapre test header */

/* loader starts here */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* loader ends here */