html, 
body {
    height: 100%;
}
.error{
  border: 1px solid red !important;
  border-radius: 4px !important;
}

.pad-40-custom{
	padding: 40px 40px 60px 40px;
}

.btn-primary-custom {
    color: #fff;
    background-color: #dae2e8;
    border-color: #2e6da4;
}

.active-button{
	width: 15px;
    height: 15px;
    background: green;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    right: 35px;
}
.active-mini-button{
	width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
    margin-top: 5px;
    position: relative;
    float: left;
    margin-right: 5px;
}
.inactive-mini-button{
	width: 10px;
    height: 10px;
    background: #F3AB53;
    border-radius: 50%;
    margin-top: 5px;
    position: relative;
    float: left;
    margin-right: 5px;
}
.active-button span{
	padding-left: 15px;
    color: white;
    position: absolute;
    margin-top: -4px;
}

.menu-list{
    list-style: none;
}
.menu-list li{
    float:left;
    padding-left: 20px;
}

.menu-list li a{
    color:#fff;
}

.profile-table>tbody>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
	padding-left: 0px;
}

.retest-table-col>.table>tbody>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
	padding-left: 0px;
	width: 17%;
}

.table>tbody>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
}

.top-header{
    width:100%;
    background: #000;
}

.social-col{
    /* margin-top: 56px; */
}
@media(max-width:768px){
    .social-col{
        margin-top: 0px;
    }
}

.goal-td-bg{
    background:lightgray;
}

/* player profile */
.profile-main{
    background: #fff;
    padding-top: 10px;
    margin-top: 50px;
    padding-bottom: 25px;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profile-header-row{
	padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-header-col img{
    min-width: 240px;
    height: 75px; 
}

@media (min-width: 0px) and (max-width: 568px){
    .profile-header-col img{
        display: block;
        margin: 0 auto;
        min-width: 200px;
        height: 55px;
    }
}

@media (min-width: 568px) and (max-width: 768px){
    .profile-header-col{
        width: 30%;
    }
    .profile-header-col img{
        min-width: 200px;
        height: 55px;
    }
    .menu-right-col{
        width: 70%;
    }
}

.menu-right-section{
    float:right;
    position: relative;
    top: 23px;
}

@media (min-width: 0px) and (max-width: 568px){
    .menu-right-section{
        float:none;
        margin-bottom: 25px;
        margin-left: 23%;
    }
}

@media (min-width: 568px) and (max-width: 768px){
    .menu-right-section{
        top: 9px;
    }
}

.profile-username{
	padding-left: 10px;
	cursor: pointer;
}

.retest{
    background: #fff;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.benchmark{
    margin-top: 15px;
}
/* player profile */

/* view admin */
.view-admin-section{
    min-height: 100vh;
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.view-admin{
    background: #fff;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.view-admin-header{
    background: #289AE7;
    padding: 14px 0px;
}
.view-admin-header-title{
    color:#fff;
    font-size: 23px;
    padding-left: 50px;
}
.view-admin-table-main{
    padding: 30px 50px 0px 50px;
}
.view-admin-table{
    margin-bottom: 0px;
}
.view-admin-table-col{
    padding: 0px;
}
.view-admin-table > tbody > tr{
    border-bottom: 1px solid lightgray;
}
.view-admin-table > tbody > tr:last-child{
    border-bottom: none;
}
.view-admin-table > tbody > tr > td{
    padding-top: 15px;
    padding-bottom: 15px;
}
/* view admin */

/* create benchmark */
.create-benchmark{
    width: 70%;
    background: #fff;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media(max-width:768px){
    .create-benchmark{
        width: 90%;
    }
}
.create-benchmark-container{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* create benchmark */

/* create retest */
.create-retest{
    width: 70%;
    background: #fff;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media(max-width:768px){
    .create-retest{
        width: 90%;
    }
}
.create-retest-container{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* create retest */


/* compare benchmark */
.dashboard-bemchmark-main{
    background: #fff;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* compare benchmark */

/* compare retest */
.compare-retest-main{
    background: #fff;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* compare retest */

/* add admin */
.add-admin-main{
    width:70%;
    background: #fff;
    border-radius: 6px;
    padding: 40px 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media(max-width:768px){
    .add-admin-main{
        width: 90%;
        padding: 15px 15px;
    }
}
/* add admin */

.profile-total-notification{
	background: orange;
    border-radius: 50%;
    padding: 2px 3px;
    position: relative;
}

.hidden-menu{
	position: absolute;
    right: 0px;
	z-index:1;
    top: 66px;
    width: 137px;
    background-color: #485461;
    background-image: linear-gradient(
315deg, #485461 0%, #28313b 74%);
}

@media (min-width: 0px) and (max-width: 549px){
    .hidden-menu{
        right: 170px;
        top: 57px;
    }
}

@media (min-width: 550px) and (max-width: 750px){
    .hidden-menu{
        right: 0px;
        top: 61px;
    }
}

.page-show-item {
    font-size: 14px;
    font-weight: 700;
    color: #696969;
}

.custom-btn{
    background-color: #FB2056;
}

.custom-btn:hover {
    color: #fff;
    background-color: #FB2056;
    border-color: #204d74;
}

.custom-btn:focus {
    color: #fff;
    background-color: #FB2056;
    border-color: #204d74;
}

/* dashboard */
.dashboard-header{
    color:#000;
}
.dashboard-header>tbody>tr>th{
    color:#000 !important;
}
.dashboard-header>tbody>tr>td{
    color:#000 !important;
}
.dashboard-table{
    color:#000;
}
.dashboard-table>tbody>tr>td{
    color:#000 !important;
    border-top: 1px solid #ddd;
}
/* dashboard */

/* footer */
.common_footer{
    width:100%;
    color: #fff;
    background: #000;
    margin: 0 auto -142px;
    padding: 20px 0px;
}
.footer-left{
    width: 20%;
}
/* footer */

/* pagination */
.pagination-area {
    overflow: hidden;
}

.pagination-area .page-link {
    padding: 0 3px;
    margin-left: 5px;
}
/* pagination */

/* comapre test header */
.compare-header{
    background-color: #485461;
    background-image: linear-gradient(
315deg, #272b2f 0%, #4d565f 74%);
}
.compare-header-profile-main{
    background-color: #485461;
    background-image: linear-gradient(
315deg, #272b2f 0%, #4d565f 74%);
}
/* comapre test header */

/* player search */
.player-search{
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: rgb(137 221 62 / 20%) 0px 8px 24px;
}
.player-search-start-date{
    width:49%;
    float: left;
}
@media(max-width:760px){
    .player-search-start-date{
        width:48%;
        float: left;
    }
}
@media(max-width:660px){
    .player-search-start-date{
        width:47%;
        float: left;
    }
}
.player-search-end-date{
    width:48%;
    float: left;
}
@media(max-width:760px){
    .player-search-end-date{
        width:48%;
        float: left;
    }
}
@media(max-width:660px){
    .player-search-end-date{
        width:47%;
        float: left;
    }
}
.player-search-button{
    margin-top: 20px;
}
/* player search */

/* select2 */
.select2-container {
    max-width: 99.6%;
}
/* select2 */

/* loader starts here */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* loader ends here */